body{
	margin: 0px
	padding: 0px;
	font-family: arial;
	font-size: 14px;
	background: #f8f8fa;
}

.wrapper{
	width: 960px;
	overflow: auto;
	margin: 0px auto;
}

/*----/Header/-----*/
#header{
	overflow: auto;
	width: auto;
}

#logo{
	width: 460px;
	float: left;
	overflow: auto;
	margin: 10px;
}

#logo h1{
	margin: 0px;
	padding: 0px;
	font-size: 45px;
	font-style: italic;
	font-weight: 100;
}

#cari{
	float: left;
	overflow: auto;
	width: 460px;
	margin: 30px 10px 10px 10px;
}

#cari form{
	float: right;
}

#header-top{
	width: auto;
	overflow: auto;
}

#wrapper-menu{
	width: auto;
	overflow: auto;
	background: #5AB9CB;
	border-radius: 5px;
	margin: 0px 10px;
}

#menu{
	margin: 0px;
	padding: 0px;
}

#menu li{
	list-style: none;
	float: left;
}

#menu li a{
	padding: 10px;
	text-decoration: none;
	display: block;
	color: #ffff;
}

#menu li a:hover{
	background: #1F2122;
}

#header-center{
	width: auto;
	overflow: auto;
}
#header-bottom{
	width: auto;
	overflow: auto;
	margin: 10px 0px;
	text-align: center;
}

#slider{
	width: auto;
	overflow: auto;
	margin: 0px 8px;
	border-radius: 5px;
	border: 1px solid #ededed;
}
/*----/Content/-----*/
#content{
	width: auto;
	overflow: auto;
}

#content-top{
	margin: 10px;
	text-align: justify;
	border-bottom: 1px solid #ededed;
}

#content-center{
	width: auto;
	overflow: auto;
	border-bottom: 1px solid #ededed;
}

.cc-news{
	width: 300px;
	padding: 10px;
	float: left;
	overflow: auto;
}

.cc-news img{
	border-radius: 5px;
}

.cc-news a{
	text-decoration: none;
	color: white;
	background: #00647A;
	padding: 5px;
	display: block;
	width: 80px;
	text-align: center;
	border-radius: 5px;
}

.cc-news a:hover{
	background: #272822;
}

.cc-news p{
	text-align: justify;
}

#content-bottom{
	width: auto;
	overflow: auto;
}

.cb-news{
	width: 450px;
	padding: 15px;
	float: left;
	overflow: auto;
}

.cb-news a{
	text-decoration: none;
	color: white;
	background: #00647A;
	padding: 5px;
	display: block;
	width: 80px;
	text-align: center;
	border-radius: 5px;
}

.cb-news a:hover{
	background: #272822;
}

.cb-news p{
	text-align: justify;
}

/*----/footer/-----*/
#footer{
	width: auto;
	overflow: auto;
	background: black;
	color: white;
	text-align: center;
	padding: 12px;
	border-radius: 5px;
	margin: 10px 0px 10px 10px;
}